body, html {
  height: 50%;
}

* {
  box-sizing: border-box;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 490px;
  margin: 25px;
  max-width: 400px;
  padding: 16px;
  background-color: transparent; ;
  border-style: solid;
  color: white;
  border-radius: 25px;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  color: black;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #0CF6D3;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  width: 88%;
  opacity: 0.9;
  border-radius: 25px;
  margin: 20px;
}

.btn:hover {
  opacity: 1;
}