.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: transparent;
    margin-top: 0px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}


.container ul li{
    float:left;
    list-style: none;
    width:195px;
    height:130px;
    background: transparent;
    border: solid white;
    margin :20px 0px 20px 55px; 
    box-sizing: border-box;
}
.container ul li:hover{
    opacity: 0.8;
}
.image {
    width: 192px; height: 125px; top: 20px; opacity: 0.8;
}

@media screen and (max-width:1250px){
    .container ul li{
        width:200px;
        margin-left: 40px;
         
    }