body, html {
  height: 50%;
}

* {
  box-sizing: border-box;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 570px;
  margin: 25px;
  max-width: 280px;
  padding: 16px;
  background-color: transparent; ;
  border-style: solid;
  color: white;
  border-radius: 25px;
}
.btn {
  background-color: #0CF6D3;
  padding: 5px 5px;
  color: #0CF6D3;
  border: solid;
  cursor: pointer;
  width: 80%;
  opacity: 0.8;
  margin : 22px;
  border-radius: 25px;
}

.btn:hover {
  opacity: 1;
}